html {
  scroll-behavior: smooth;
}
 
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
 
header nav {
  display: flex;
  align-items: center;
}
header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}
 
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
 
header nav ul li {
  margin: 0 15px;
}
 
header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
  position: relative;
}
 
header nav ul li a:hover {
  color: #eb5d34;
}
 
header nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #eb5d34;
  transition: width 0.2s ease-in-out;
}
 
header nav ul li a:hover::after {
  width: 100%;
}
 
#hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  #hamburger {
    display: block;
    background-color: none;
    background: none;
    border: none;
  }
  nav ul {
    display: none;
    flex-direction: column;
  }
  nav ul.active {
    display: flex;
  }
}
 
@media (max-width: 768px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px 40px;
    background-color: #eb5d34;
 
    opacity: 0;
    transform: translateX(-100%);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    z-index: 999;
  }
 
  header nav ul.active {
    opacity: 1;
    transform: translateX(0);
  }
 
  #hamburger {
    display: block;
    padding-left: 20px;
  }
 
  header nav ul li {
    margin: 15px 0;
    text-align: center;
  }
  header nav ul li a {
    font-size: 24px;
  }
  #logo {
    display: none;
  }
}
 
#logo {
  margin-right: auto;
  margin-left: 20px;
}
 
 