:root {

    --font-family1: 'galactic';
    --font-family2: 'Deltha';
    --font-para: 'spacemono';
    --science-info:'opensans';

    --h1-font-size: clamp(1.875rem, -1.875rem + 10vw, 3.75rem);

    --p-font-size: clamp(1rem, 0.875rem + 0.6667vw, 1.25rem);

    --h1-spacing: clamp(1rem, 0.5rem + 2vw, 3rem);

    --main-color: #004472;
    --accent-color: #181934;
    --second-accent: #EB5D34;
    --second-color: #90C2E0;
    --third-color: #C7E0DB;

    --metallic-gradient: linear-gradient(
        145deg,
        #7a2b13 0%,      
        #c64722 18%,     
        var(--second-accent) 38%, 
        #ff824d 55%,     
        #ffd2b3 68%,     
        #b33b1e 85%,     
        #3a1203 100%     
      );
}


@font-face {
    font-family: 'galactic';
    src: url('/fonts/Everyday\ Galactic\ Alphabet.otf') format('truetype');

}

@font-face {
    font-family: 'Deltha';
    src: url('/fonts/Deltha.ttf') format('truetype');

}

@font-face {
    font-family: 'spacemono';
    src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'spacemon-bold';
    src: url('/fonts/SpaceMono-Bold.ttf') format('truetype');

}



/* Styling fonts  */

h1 span {
    font-size: var(--h1-font-size);
    font-family: var(--font-family1);
    animation: switchFont 0.4s steps(3) forwards;
    animation-delay: calc(var(--i) * 0.15s);
    background: var(--metallic-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  }



  @keyframes switchFont {
    100% { font-family: var(--font-family2); }
  }



p {
    font-family: var(--font-para);
    font-size: var(--p-font-size);
    color: var(--second-accent);
}

.text-p1 p span:first-of-type{
    font-family: var(--font-family2);
    color: var(--second-color);
}

/* makes the span with this class a bolder fontsize */
.boldspan{
    font-family: 'spacemon-bold';
    color: var(--second-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("/img/spacebackground.png");
    overflow-x: hidden;
    scroll-behavior: smooth;
}